.az-form-group_style{
	margin-top: 13px;
}
.az-title1{
	font-family: "OpenSans-Semibold";
}
.az-text1{
	font-family: "OpenSans-Regular";
    *{
        font-family: "OpenSans-Regular";
    }
}
.az-stamp{
	// content:"SAMPLE";
    position:absolute;
    top:50px;
    right:10px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size:16px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}
.az-stamp_style{
	top:34px;
	font-size: 16px;
	border:solid 2px #c00;
}
.az-rel{
	position: relative;
}
.ls-disp-none{
    display: none !important;
}
.ls-phone{
    float: left;
    line-height: 90px;
    margin-left: 15px;
}
.ls-search{
    float: left;
    line-height: 90px;
    position: relative;
    padding-left: 10px;
    input[type="text"]{
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        height: 22px;
        width: 0px;
        border: 0 solid #aaa;
        padding: 0;
        transition: all 0.3s linear;
        z-index: 999;
    }
    button[type="submit"]{
        display: none;
    }
    .ls-i{
        color: #fff;
        cursor: pointer;
    }
}
.ls-search{
    float: left;
    line-height: 90px;
    width: 15px;
    input[type="text"].slide{
        border: 1px solid #aaa;
        width: 155px;
        padding: 5px;
    }
    input[type="text"].slide ~ button[type="submit"]{
        display: block;
        position: absolute;
        top: 0%;
        right: calc(100% + 3px);
        width: 22px;
        height: 22px;
        // transform: translateY(-50%);
        font-size: 12px;
        border: none;
        background: transparent;
        outline: none;
        z-index: 9999;
        i{
            font-size: 12px;
            color: #000;
        }
    }
}



.ls-lang{
    float: right;
    line-height: 90px;
    height: 90px;
    vertical-align: middle;
}
.az-select{
    line-height: normal;
    display: inline-block;
    select{
        padding: 5px;
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
        line-height: normal;
        -webkit-appearance: none;
            -moz-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    .az-options{
        line-height: normal;
        div{
            padding: 5px;
            cursor: pointer;
            color: #fff;
            background: rgba(255, 255, 255, 0.3);
        }
        div:hover{
            background: rgba(255, 255, 255, 0.7);
        }
    }
}

@media only screen and (min-width: 768px){
	.az-stamp{
		font-size: 30px;
	}
	.az-stamp_style{
		font-size: 16px;
	}
}